{% extends '@SurvosPico/base.html.twig' %}

        {% block stylesheets %}
            <style>
                /* --- Custom “3-column on desktop” rule --- */
                @media (min-width: 64rem) {
                    /* 64rem ≈ 1024px */
                    .cards {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 1rem; /* space between cards */
                    }
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

{% block nav %}
<nav class="container-fluid">
    <ul>

        <li>
            <a href="{{ path('app_homepage') }}">
                <strong>Home</strong>
            </a>
        </li>
        {% if agentCode|default(false) %}
            <li>> <strong>{{ agentCode }}</strong></li>
        {% endif %}
    </ul>
    <ul>
        {% for agentCode, agent in agents %}
            <li><a href="{{ path('chat_index', {agentCode: agentCode}) }}">{{ agentCode }}</a></li>
        {% endfor %}
        {#        <li><a href="#" role="button" class="secondary">Login</a></li> #}
    </ul>
</nav>
{% endblock %}
